#CP {
  width: 100%;
  height: 40%;
}

.card-link {
  align-content: center;
}

.card-img-top {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-title {
  align-content: center;
}
