.btn-layout {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.btn-divider {
  margin-left: 10px;
}

.btn {
  display: inline-block;
  justify-content: center;
  align-self: center;
}
